<div class="container">
  <div class="row">
    <section class="main col-md-9">
      <aside class="col-md-12">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan libero a sem venenatis pharetra.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab neque, mollitia rem nisi exercitationem
          recusandae distinctio ipsam magnam in accusamus accusantium odit quaerat ex explicabo, nostrum quia optio,
          iste vero?Lorem, ipsum dolor sit amet consectetur adipisicing elit. In ut incidunt dicta a quaerat tenetur
          corrupti, voluptatum, illo quam odit, sint cumque quod aspernatur temporibus? Alias temporibus nesciunt
          aperiam reiciendis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum repellendus ipsam
          doloremque eaque perferendis error veritatis expedita ad consequatur, natus explicabo similique. Veritatis
          distinctio qui, beatae ratione ullam deleniti nihil!. Lorem, ipsum dolor sit amet consectetur adipisicing
          elit. Voluptatem ratione maiores tenetur consectetur esse amet perferendis nemo est rem laudantium, assumenda
          asperiores corporis repellendus aliquid accusamus itaque corrupti id omnis. Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Facere unde, explicabo error quam minus, suscipit quibusdam magnam quae modi
          quisquam provident hic quo voluptate porro corporis voluptatibus deserunt tenetur eum?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan libero a sem venenatis pharetra.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab neque, mollitia rem nisi exercitationem
          recusandae distinctio ipsam magnam in accusamus accusantium odit quaerat ex explicabo, nostrum quia optio,
          iste vero?Lorem, ipsum dolor sit amet consectetur adipisicing elit. In ut incidunt dicta a quaerat tenetur
          corrupti, voluptatum, illo quam odit, sint cumque quod aspernatur temporibus? Alias temporibus nesciunt
          aperiam reiciendis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum repellendus ipsam
          doloremque eaque perferendis error veritatis expedita ad consequatur, natus explicabo similique. Veritatis
          distinctio qui, beatae ratione ullam deleniti nihil!. Lorem, ipsum dolor sit amet consectetur adipisicing
          elit. Voluptatem ratione maiores tenetur consectetur esse amet perferendis nemo est rem laudantium, assumenda
          asperiores corporis repellendus aliquid accusamus itaque corrupti id omnis. Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Facere unde, explicabo error quam minus, suscipit quibusdam magnam quae modi
          quisquam provident hic quo voluptate porro corporis voluptatibus deserunt tenetur eum?</p>
      </aside>
    </section>
    <aside class="col-md-3">
      <h2>Comming Soon</h2>
      <p>This web app is still under construction! Stay tuned for updates!</p>
    </aside>
  </div>
</div>